version: "3.9"
services:
  # web:
  #   container_name: "nginx"
  #   build:
  #     dockerfile: "./container/web/Dockerfile"
  #   ports:
  #     - "80:80"
  #   volumes:
  #     - "./src/php:/var/www/html"
  #     - "./work:/work"
  # java:
  #   container_name: "java"
  #   image: amazoncorretto:11
  #   ports:
  #     - "8080:8080"
  #   volumes:
  #     - "./src/java:/app"
  #     - "./work:/work"
  #   tty: true
  # nodejs:
  #   container_name: "nodejs"
  #   image: node:20-bullseye
  #   ports:
  #     - "3000:3000"
  #   volumes:
  #     - "./work:/work"
  #   tty: true
  # php:
  #   container_name: "php"
  #   build:
  #     dockerfile: "./container/php/Dockerfile"
  #   ports:
  #     - "9000:9000"
  #     - "5173:5173"
  #   volumes:
  #     - "./src/php:/var/www/html"
  #     - "./work:/work"
  # python:
  #  container_name: "python"
  #  build:
  #    dockerfile: "./container/python/Dockerfile"
  #  ports:
  #    - "8000:8000"
  #  volumes:
  #    - "./src/python:/app"
  #    - "./work:/work"
  #  tty: true
  # db1:
  #   container_name: "postgres"
  #   image: postgres:14-alpine
  #   restart: always
  #   shm_size: 256mb
  #   healthcheck:
  #     test: ["CMD", "pg_isready", "-U", "postgres"]
  #   volumes:
  #     - "./db1:/var/lib/postgresql/data"
  #     - "./work:/work"
  #   environment:
  #     - "POSTGRES_HOST_AUTH_METHOD=${POSTGRES_HOST_AUTH_METHOD}"
  #     - "POSTGRES_USER=${POSTGRES_USER}"
  #     - "POSTGRES_DB=${POSTGRES_DB}"
  #     - "POSTGRES_PASSWORD=${POSTGRES_PASSWORD}"
  # db2:
  #   container_name: "mysql"
  #   image: mysql:8.0
  #   platform: linux/x86_64
  #   environment:
  #     - "MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}"
  #     - "MYSQL_DATABASE=${MYSQL_DATABASE}"
  #     - "MYSQL_USER=${MYSQL_USER}"
  #     - "MYSQL_PASSWORD=${MYSQL_PASSWORD}"
  #     - "TZ='Asia/Tokyo'"
  #   volumes:
  #     - "./db2:/var/lib/mysql"
  #     - "./work:/work"
  #   # MySQL8.0ではデフォルトが"caching_sha2_password"で、ドライバが非対応のため変更
  #   command: --default-authentication-plugin=mysql_native_password
  # pgadmin:
  #   container_name: pgadmin
  #   image: dpage/pgadmin4
  #   ports:
  #     - 8888:80
  #   volumes:
  #     - "./pgadmin:/var/lib/pgadmin"
  #     - "./work:/work"
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: example@example.com
  #     PGADMIN_DEFAULT_PASSWORD: pass
  #   depends_on:
  #     - db1
